<footer>

    <div class="pre-footer">
        <div class="container">
            <div class="row text-white p-5">
                <div class="col-xl-4 text-center">
                    <div class="footer-info">
                        <h3 class="my-3">LOCATION</h3>
                        <h6>2215 John Daniel Drive</h6>
                        <h6>Clark, MO 65243</h6>
                    </div>

                </div>
                <div class="col-lg-4 text-center">
                    <div class="footer-info">
                        <h3 class="my-3">AROUND THE WEB</h3>
                    

                      
                            <div class="m-auto w-75">
                                <span class="social-border float-left ml-1 col  d-flex justify-content-center align-items-center"><i
                                    class="fab fa-facebook-f"></i>
                            </span>
                            <span class="social-border float-left ml-1 col d-flex justify-content-center align-items-center"> <i
                                    class="fab fa-twitter"></i>
                            </span>
                            <span class="social-border  float-left ml-1  col d-flex justify-content-center align-items-center"> <i
                                    class="fab fa-linkedin-in"></i>
                            </span>
                            <span class="social-border float-left ml-1 col d-flex justify-content-center align-items-center"> <i
                                    class="fab fa-github"></i>
                            </span>
                            

                            <div class="clearfix"></div>
                        
                      </div>
                     


                    </div>

                </div>
                <div class="col-lg-4 text-center">
                    <div class="footer-info">
                        <h3 class="my-3">ABOUT FREELANCER
                        </h3>
                        <h6>Freelance is a free to use, MIT</h6>
                        <h6>licensed Bootstrap theme created by .</h6>
                    </div>

                </div>

            </div>
        </div>
        <div class="end-footer p-3">
            <h6 class="text-white text-center">Copyright © Hossam Omara 2021</h6>
        </div>

    </div>

</footer>

