<div class="about text-white p-3">
    <h2 class="text-center text-white font-weight-bolder my-3">ABOUT</h2>
    <div class="star-icon text-center text-white h2 d-flex justify-content-center align-items-center col-8 m-auto p-3">
        <div class="line mr-4"></div>
        <i class="fas fa-star"></i>
        <div class="line ml-4"></div>

    </div>
    <div class="container-sm p-2 m-auto">
        <div class="row">
            <div class="offset-lg-2 col-lg-4 p-2">
                <div>
                    <p> Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
                        complete
                        source files
                        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </p>
                </div>

            </div>
            <div class="col-lg-4 p-2">
                <div>
                    <p> You can create your own custom avatar for the masthead, change the icon in the dividers, and add
                        your email address to the contact form to make it fully functional!</p>
                </div>

            </div>
        </div>

    </div>
</div>