<div class="contacts py-5">
    <div class="container ">
      <h2 class="text-center">CONTACTS</h2>
      <div class="star-icon text-center text-white h2 d-flex justify-content-center align-items-center col-8 m-auto">
        <div class="line mr-4"></div>
        <i class="fas fa-star"></i>
        <div class="line ml-4"></div>
  
      </div>
      <div class="form col-md-8 m-auto py-3">
        <div class="form-group">
          <label for="username"></label>
          <input type="text" autocomplete="off"
            class="form-control" name="username" id="name" aria-describedby="username" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input type="text" autocomplete="off"
            class="form-control" name="email" id="email" aria-describedby="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="phone"></label>
          <input type="text" autocomplete="off"
            class="form-control" name="phone" id="phone" aria-describedby="phone" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="message"></label>
          <textarea name="message" id="message" autocomplete="off" class="w-100 form-control" rows="5" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
         <button class="btn btn-success">Send</button>
        </div>
      </div>
  
    </div>
  
  </div>
  