<div class="home p-5 flex-column d-flex justify-content-center align-items-center">
    <div class="avatar my-2">
        <img src="assets/Images/avataaars.svg" class="w-100">
    </div>
    <h2 class="my-2 text-center">START ANGULAR</h2>
    <div class="star-icon text-center text-white h2 d-flex justify-content-center align-items-center col-8 m-auto p-3">
        <div class="line mr-4"></div>
        <i class="fas fa-star"></i>
        <div class="line ml-4"></div>

    </div>    <h5 class="my-2 text-white text-center">Graphic Artist - Web Designer - Illustrator</h5>

</div>

